in_game/gfx/terrain2/terrain_cache/heightmap.bin
in_game/gfx/terrain2/terrain_cache/index_map.bin
in_game/gfx/terrain2/terrain_cache/intensity_map.bin
in_game/gfx/terrain2/terrain_cache/materials.bin
